* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.section1 {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section1-title {
  font-size: 32px;
  margin-bottom: 5px; }

.section1-subtitle {
  font-size: 16px; }

.section2 {
  width: 100vw;
  height: 100vh;
  background-color: #87b2b2;
  display: flex;
  flex-direction: column; }

.guitar1 {
  width: 100vw;
  height: 250px;
  transform: translate(0, -50%); }

.aboutme {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center; }

.profile {
  width: 150px;
  height: 150px; }

.description {
  padding: 10px;
  text-align: center;
  margin-top: 10px; }

.section3 {
  width: 100vw;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.section3-title {
  background-color: #87b2b2;
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 0 5px -5px #496e6e;
  transform: translate(0, -100%); }

.section3-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; }

.skills {
  width: 70px;
  height: 70px;
  margin: 12px; }

.section4 {
  background-color: #f5f7f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px; }

.section4-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px; }

.project {
  width: 350px;
  height: 210px;
  margin: 10px; }

.project:hover {
  border: cadetblue solid 2px; }

.contact {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.form {
  width: 450px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.form--fieldSpace {
  width: 450px;
  height: 50px;
  border: 1px solid #ced4da;
  padding: 5px;
  border-radius: 5px; }

.form--fieldSpace__mailphone {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.form--fieldSpace__phone {
  width: 212px; }

.form--fieldSpace__mail {
  width: 212px; }

.form--fieldSpaceComment {
  width: 450px;
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 5px; }

.form--button {
  width: 300px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #87b2b2;
  color: #87b2b2; }

.form--button:hover {
  background-color: #87b2b2;
  color: white; }

.header {
  background-color: white;
  opacity: 0.7;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; }

.nav {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px; }

.item {
  text-decoration: none;
  color: #454545;
  margin: 8px; }

.item:hover {
  color: #87b2b2; }

.footer {
  width: 100vw;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #87b2b2; }

.footer-links {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translate(0, -20px); }

.links {
  width: 40px;
  height: 40px; }

.copy {
  font-size: 14px;
  order: 2;
  margin-bottom: 15px; }

.guitar-footer {
  width: 512px;
  height: 150px;
  transform: translate(0, -20%); }

/*# sourceMappingURL=main.css.map */
