.section1 {
  width: 100vw;
  height: 300px;
  //   border: blue 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1-title {
  font-size: 32px;
  //   border: red 2px solid;
  margin-bottom: 5px;
}
.section1-subtitle {
  //   border: red 2px solid;
  font-size: 16px;
}

.section2 {
  width: 100vw;
  height: 500px;
  background-color: #87b2b2;
  //   border: red 2px solid;
  display: flex;
}

.guitar1 {
  width: 100vw;
  height: 250px;
  transform: translate(0, -50%);
  //   border: red 2px solid;
}
.guitar2 {
  width: 100vw;
  height: 300px;
  transform: translate(0, -35%);
}
.aboutme {
  //   border: red 2px solid;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.profile {
  width: 150px;
  height: 150px;
}

.description {
  //   border: red 2px solid;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.section3-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.skills {
  width: 60px;
  height: 60px;
}

.section4 {
  background-color: grey;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.section4-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.project {
  width: 50px;
  height: 50px;
}
.contact {
  border: #87b2b2 2px solid;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  width: 500px;
  height: 300px;
  //   border: #87b2b2 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form--fieldSpace {
  width: 500px;
  height: 50px;
}
.form--fieldSpace__mailphone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form--fieldSpace__phone {
  width: 240px;
}
.form--fieldSpace__mail {
  width: 240px;
}
.form--fieldSpaceComment {
  width: 500px;
}

.form--button {
  width: 300px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  width: 100vw;
  height: 250px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: #87b2b2 2px solid;
}
.footer-links {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.links {
  width: 40px;
  height: 40px;
}
.copy {
  font-size: 14px;
  margin-top: 15px;
}
