.section1 {
  width: 100vw;
  height: 300px;
  //   border: blue 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1-title {
  font-size: 32px;
  //   border: red 2px solid;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  color: #454545;
}
.section1-subtitle {
  //   border: red 2px solid;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #454545;
}

.section2 {
  width: 100vw;
  height: 500px;
  // height: 500px;
  background-color: #87b2b2;
  //   border: red 2px solid;
  display: flex;
  flex-direction: column;
}

.guitar1 {
  width: 512px;
  height: 150px;
  transform: translate(0, -90%);
}
// .guitar2 {
//   width: 100vw;
//   height: 300px;
//   transform: translate(0, -35%);
// }
.aboutme {
  // border: red 2px solid;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  transform: translate(0, -20%);
}
.profile {
  width: 150px;
  height: 150px;
  // border: red 2px solid;
}

.description {
  //   border: red 2px solid;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  color: #454545;
  font-size: 14px;
}
.section3 {
  width: 100vw;
  height: 450px;
  // border: red 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section3-title {
  background-color: #87b2b2;
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 0 5px -5px #496e6e;
  transform: translate(0, -100%);
}

.section3-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.skills {
  width: 70px;
  height: 70px;
  margin: 12px;
}

.section4 {
  background-color: #f5f7f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.section4-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.project {
  width: 350px;
  height: 210px;
  margin: 10px;
}
.project:hover {
  border: cadetblue solid 2px;
}
.contact {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  width: 450px;
  height: 340px;
  // border: #87b2b2 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form--fieldSpace {
  width: 450px;
  height: 50px;
  border: 1px solid #ced4da;
  padding: 5px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.form--fieldSpace__mailphone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form--fieldSpace__phone {
  width: 212px;
  font-family: "Montserrat", sans-serif;
}
.form--fieldSpace__mail {
  width: 212px;
  font-family: "Montserrat", sans-serif;
}
.form--fieldSpaceComment {
  width: 450px;
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.form--button {
  width: 300px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #87b2b2;
  color: #87b2b2;
  font-family: "Montserrat", sans-serif;
}
.form--button:hover {
  background-color: #87b2b2;
  color: white;
}
